[submodule "site-cookbooks/yum"]
	path = site-cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "site-cookbooks/mysql"]
	path = site-cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "site-cookbooks/build-essential"]
	path = site-cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "site-cookbooks/openssl"]
	path = site-cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
